

.rack {
	width: 180px;
	height: 80px;
	padding: 5px;
	margin: 5px;
	background-color: #ccc;
	display: inline-block;
}

.slot {
	width: 20px;
	height: 60px;
	padding: 5px;
	margin: 5px;
	background-color: #777;
	display: inline-block;
}

.md {
	width: 60px;
	height: 60px;
	padding: 5px;
	margin: 5px;
	background-color: #333;
	color: #fff;
	font-size: 2em;
}


.slot .slot-text {
	visibility: hidden;
}

.slot:hover .slot-text {
	visibility: show;
	background-color: yellow;
	color: #fff;
}

.md .md-text {
	visibility: hidden;
}

.md:hover .md-text {
	visibility: show;
	background-color: yellow;
	color: #fff;
}

